body {
    background-image: url('Images/background2.jpg');
    background-attachment:scroll;     
    margin: 0;

    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.k-widget listview
{
    background:inherit;
}

.k-grid tr{
    border-bottom:solid;
    border-bottom-color:black;
    border-bottom-width:10px;
    background:inherit;

}

.k-grid{
background-color: rgba(255, 255, 255, 0.6);
width:1200px;
padding-left:0px;
margin-left:0px;

}


