@model MyShop.Models.Products.Product

@{
    Layout = "Views/Shared/_Layout";
}

<div class="container">
    <div class="row">

        @(Html.Kendo().Grid<MyShop.Models.Products.Product>()
    .Name("EmpGrid")
    .DataSource(dataSource => dataSource
        .Ajax()

        .Read(read => read.Action("ProductList", "Product"))
        )
        )
    </div>
</div>  